@model TaxiSluzba.Models.Odgovor
@{
    ViewBag.Title = "Greska";
}



<html>
    <body>
        <form action="/Home/Preusmeri" method="post">
            <h2>@Model.response</h2>
            <input type="submit" value="Nazad">
        </form>
    </body>
</html>