
@{
    ViewBag.Title = "Greska";
}

<h2>Korisnik sa tim korisnickim imenom (ne)postoji! Pokusajte ponovo...</h2>
@Html.ActionLink("Nazad", "HomePage")</br>
@Html.ActionLink("Nazad na dispecera", "Dispecer")

